@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');


.ww{

    background-color: black !important;
}




div.Platform-box{
   text-align: center;
   

}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 5ch;
    border: none;
    margin-top: 20%;
    font-family: Aldrich,sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  /* Links inside the dropdown */
  .dropdown-content button{
    color: white;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: black;
    border-color: tomato;
   font-family: Aldrich,sans-serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;
                                        }

  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: tomato;color: black;}

  input.Searchbar{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  .Searchbar-name{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
  }
  .Link{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 16px;
    font-size: 16px;
    border-radius: 5ch;
    border: none;
    margin-top: 20%;
    font-family: Aldrich,sans-serif;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto  ;
    grid-template-rows: auto auto auto;

    padding: 10px;
    float: left;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container-mid {
    display: grid;
    grid-template-columns: auto  ;
    grid-template-rows: auto auto auto;
  
    padding: 10px;
    float: left;
    
  }

  .grid-container-right {
    display: grid;
    grid-template-columns: auto  ;
    grid-template-rows: auto auto auto;
   
    padding: 10px;
    float:left;
    
  }
  
 